@media (max-width: 1325px) {
  .navigation {
    width: 1200px;
  }

  .main {
    width: 1200px;
  }
  .cart-menu {
    right: 20px;
  }
}

@media (max-width: 1225px) {
  .navigation {
    width: 1100px;
  }

  .main {
    width: 1100px;
  }

  .images {
    margin-right: 45px;
    margin-left: 45px;
  }

  .big-image img {
    width: 545px;
  }

  .main-header {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .product-description {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1120px) {
  .navigation {
    width: 1000px;
  }

  .main {
    width: 1000px;
  }

  .small-images {
    width: 540px;
  }

  .product-description {
    font-size: 16px;
  }

  .add-to-cart {
    margin-top: 32px;
  }

  .add {
    gap: 21px;
    padding: 16px 32px;
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  .big-image-in-slider img {
    width: 415px;
  }

  .close {
    left: 480px;
  }

  .image-slider {
    top: 37%;
    left: 48%;
  }

  .slider-left,
  .slider-right {
    top: 205px;
  }

  .slider-right {
    left: 460px;
  }

  .slider-left {
    left: 60px;
  }

  .small-images-in-slider {
    gap: 20px;
    width: 400px;
  }

  .small-image-in-slider img {
    width: 85px;
  }
}

@media (max-width: 1025px) {
  .navigation {
    width: 900px;
  }

  .main {
    width: 900px;
  }

  .big-image img {
    width: 495px;
  }

  .images {
    margin-left: 0px;
  }

  .small-images {
    width: 495px;
  }

  .description {
    height: 575px;
  }

  .add-to-cart {
    gap: 9px;
  }

  .number-of-items {
    padding: 8px 12px;
    gap: 32px;
  }

  .add {
    padding: 12px 18px;
  }
}

@media (max-width: 980px) {
  .navigation {
    width: 800px;
  }

  .main {
    width: 800px;
  }

  .logo-image {
    width: 145px;
  }

  .list-items {
    margin-left: 30px;
  }

  .list-item {
    font-size: 15px;
  }

  .cart-header {
    padding: 12px;
  }

  .cart-empty {
    padding: 35px 0;
  }

  .items-in-cart img {
    width: 75px;
  }

  .description-of-item p {
    font-size: 15px;
  }

  .big-image img {
    width: 445px;
  }

  .small-images {
    width: 430px;
  }

  .description {
    height: 535px;
  }

  .main-header {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .navigation {
    width: 850px;
  }

  .slider-mobile {
    display: block;
  }

  .main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .navigation {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-slider,
  .image-slider.activee {
    display: none;
  }

  .backdrop,
  .backdrop.activee {
    display: none;
  }

  .images {
    width: 100%;
    margin: 0;
  }

  .big-image {
    position: relative;
    width: 100%;
  }

  .big-image img {
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 0;
  }

  .small-images {
    display: none;
  }

  .slider-mobile {
    position: absolute;
    z-index: 50;
    top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .slider-left-in-mobile,
  .slider-right-in-mobile {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-left-in-mobile:hover,
  .slider-right-in-mobile:hover {
    color: hsl(26, 100%, 55%);
  }

  .slider-left-in-mobile {
    margin-left: 15px;
  }

  .slider-right-in-mobile {
    margin-right: 15px;
  }

  .slider-left-in-mobile ion-icon,
  .slider-right-in-mobile ion-icon {
    display: block;
    font-size: 18px;
  }

  .description {
    margin: 30px 30px;
  }

  .small-header {
    font-size: 25px;
  }

  .main-header {
    font-size: 40px;
  }

  .product-description {
    font-size: 24px;
  }

  .price h2 {
    font-size: 36px;
  }

  .discount {
    padding: 7px 14px;
    font-size: 21px;
  }

  .original-price {
    font-size: 28px;
  }

  .add-to-cart {
    gap: 40px;
  }

  .number-of-items {
    padding: 12px 24px;
  }

  .increase,
  .decrease {
    font-size: 36px;
  }
  .number-of-items p {
    font-size: 26px;
  }

  .add {
    padding: 18px 28px;
    font-size: 18px;
  }

  .cart-menu {
    z-index: 100;
    width: 400px;
    height: 245px;
  }
}

@media (max-width: 700px) {
  .list-items {
    display: none;
  }

  .slider-in-mobile {
    display: block;
    margin-right: 15px;
    font-size: 30px;
    margin-top: 12px;
    cursor: pointer;
  }

  .backdrop-in-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 150;
  }

  .backdrop-in-mobile.active-in-mobile {
    display: block;
  }

  .navigation-in-mobile {
    display: none;
  }

  .navigation-in-mobile.active-in-mobile {
    display: block;
  }

  .navigation-page {
    position: fixed;
    width: 75vw;
    height: 100vh;
    background-color: white;
    z-index: 200;
  }

  .content-list {
    margin-top: 40px;
    margin-left: 25px;
  }

  .close-in-mobile {
    font-weight: bold;
    font-size: 25px;
    color: rgb(86, 85, 85);
    cursor: pointer;
    margin-bottom: 44px;
  }

  .list-items-in-mobile {
    list-style: none;
  }

  .list-item-in-mobile {
    margin-bottom: 20px;
    color: rgb(35, 35, 35);
    font-weight: bold;
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .small-header {
    font-size: 22px;
  }

  .main-header {
    font-size: 35px;
  }

  .product-description {
    font-size: 21px;
  }

  .price h2 {
    font-size: 30px;
  }

  .discount {
    padding: 7px 14px;
    font-size: 15px;
  }

  .original-price {
    font-size: 22px;
  }

  .add {
    padding: 15px 15px;
    font-size: 12px;
  }

  .number-of-items {
    padding: 6px 18px;
  }

  .add-to-cart {
    gap: 16px;
  }

  .cart-menu {
    width: 350px;
  }

  .description-of-item {
    width: 200px;
  }

  .checkout {
    padding: 20px 110px;
  }
}

@media (max-width: 370px) {
  .cart-menu {
    width: 320px;
    right: 5px;
  }

  .navigation {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 350px) {
  .logo-image {
    width: 100px;
  }

  .slider-in-mobile {
    margin-right: 8px;
    font-size: 24px;
    margin-top: 10px;
  }

  .number-of-products-in-icon {
    top: -15px;
    right: 0px;
    padding: 1px 2px;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-top: -10px;
  }
}

@media (max-width: 330px) {
  .cart-menu {
    width: 320px;
    right: 5px;
  }

  .items-in-cart img {
    width: 65px;
  }

  .description-of-item {
    width: 160px;
  }

  .description-of-item p {
    font-size: 13px;
  }

  .checkout {
    padding: 20px 86px;
  }

  .cart-menu {
    width: 265px;
  }

  .add {
    padding: 10px 15px;
    font-size: 11px;
  }

  .number-of-items {
    padding: 5px 10px;
  }

  .main-header {
    font-size: 28px;
  }

  .product-description {
    font-size: 18px;
  }
}
